{% extends 'autenticacion/inicio_sesion.html' %}
{% block main_content %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<iframe id="surveyFrame" src="http://127.0.0.1:8000/surveys/dashboard/" width="100%" style="border:none;"></iframe>

<script>
    var surveyFrame = document.getElementById('surveyFrame');

    function adjustIframeHeight() {
        surveyFrame.style.height = surveyFrame.contentWindow.document.body.scrollHeight + 'px';
    }

    surveyFrame.onload = adjustIframeHeight;
</script>
{% endblock %}
